/* Generale */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
    color: #333; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Intestazione */
header {
    background: #333; 
    color: #fff;
    padding: 15px 20px; 
    text-align: center;
    position: relative;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
    text-align: center;
    flex: 1;
    min-width: 150px;
    word-wrap: break-word;
}

.header-content {
    display: flex;
    position: relative;
    justify-content: center; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Contenuto principale */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row; 
    gap: 20px;
    padding: 40px 20px;
    flex-grow: 1; 
}

/* Box Inventario */
.inventario-box {
    flex: 1; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.inventario-box h2 {
    margin-top: 0;
}

/* Box Scenario */
.scenario-box {
    flex: 3;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Pulsanti */
.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #025cbd; 
}

/* Pulsante di salvataggio */
.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff; 
    border: none;    
    cursor: pointer;     
    padding: 10px;   
    border-radius: 4px; 
    gap: 5px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 20px;
}

.save-button img {
    width: 24px;
    height: 24px;
}

.save-button:hover {
    background-color: #025cbd; 
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Adattamento per schermi piccoli */
@media (max-width: 700px) {
    .header-content {
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    .container {
        padding: 0 10px;
        flex-direction: column;
        align-items: stretch;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .button, .back-button {
        font-size: 16px;
        padding: 12px 24px;
    }

    .inventario-box, .scenario-box {
        width: 100%; 
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 10px;
    }

    .inventario-box {
        order: 1;
    }

    .scenario-box {
        order: 2; 
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .button, .back-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    footer {
        position: static;
        margin-top: 10px;
    }
}
