/* Generale */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Intestazione */
header {
    background: #333; 
    color: #fff; 
    padding: 10px 20px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-left: -20px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center; 
    color: white; 
}

/* Contenuto dell'header */
.header-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px; 
}

/* Contenuto principale */
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    flex-direction: column;        
    gap: 10px;                
    padding: 20px; 
}

/* Pulsanti */
.button {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 30%;
}

.button:hover {
    background-color: #025cbd;
}

/* Accedi */
.access-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.access-info a {
    color: #007bff;
    text-decoration: none;
}

/* Pulsante di ritorno */
.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff; 
    border: none;   
    cursor: pointer;        
    padding: 10px;         
    border-radius: 4px;     
    gap: 5px;
}

.back-button img {
    width: 24px; 
    height: 24px; 
}

.back-button:hover {
    background-color: #025cbd;
}

/* Footer */
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Adattamento per schermi piccoli */
@media (max-width: 600px) {
    .search-box {
        flex-direction: column;  
        gap: 5px;               
    }
}