<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gioca Storia</title>
    <link rel="stylesheet" href="/css/giocaStoria.css">
</head>

<body class="giocaStoria">
    <header>
        <div class="header-content">
            <button class="save-button" onclick="salvaEdEsci()">
                <img src="/css/images/save-icon.png" alt="Salva">
                <span class="save-text">Salva ed esci</span>
            </button>
            <h1 id="titoloStoria" th:text="${titolo}"></h1>
        </div>
    </header>

    <div class="container">
        <div class="inventario-box">
            <h2>Inventario:</h2>
            <div id="inventario">Inventario vuoto</div>
        </div>
        <div class="scenario-box">
            <h2>Scenario:</h2>
            <h2 id="titoloScenario"></h2>
            <p id="descrizioneScenario"></p>
            <div id="opzioni"></div>
        </div>
    </div>

    <script>
        const params = new URLSearchParams(window.location.search);
        const storiaId = params.get('storiaId');
        const partitaId = params.get('partitaId');
        const scenarioCorrenteId = params.get('scenarioCorrenteId');
        const riprendi = params.get('riprendi') === 'true';


        console.log("SCENARIO CORRENTE ID: " + scenarioCorrenteId);
        console.log("STORIA ID: " + storiaId);
        console.log("PARTITA ID: " + partitaId);

        // Funzione per caricare lo scenario e visualizzare le opzioni
        function caricaScenario() {
            console.log("QUIII?????")
            const url = `/api/gioca/${storiaId}/${partitaId}/${scenarioCorrenteId}/start`;
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Errore di rete: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log("Dati ricevuti:", data);
                    if (data && data.scenarioCorrente) {
                        document.getElementById('titoloStoria').innerText = data.titolo;
                        document.getElementById('titoloScenario').innerText = data.scenarioCorrente.nome;
                        document.getElementById('descrizioneScenario').innerText = data.scenarioCorrente.descrizione;

                        console.log("Titolo storia: " + data.titolo);
                        console.log("Nome scenario: " + data.scenarioCorrente.nome);
                        console.log("Descrizione scenario: " + data.scenarioCorrente.descrizione);
                        console.log("Opzioni:", data.scenarioCorrente.opzioni);

                        getOpzioni(data.scenarioCorrente.opzioni);
                        getInventario(data.inventario);

                        console.log("1");

                        // Aggiungi qui la logica per gli oggetti rilasciati
                        if (data.oggettiRilasciati && data.oggettiRilasciati.length > 0) {
                            releaseObjects(data.oggettiRilasciati);
                        }

                        // Se la partita è conclusa, mostra "The End"
                        if (data.partitaConclusa) {
                            opzioniDiv.innerHTML = '<p>The End</p>';
                            document.querySelectorAll('button').forEach(button => button.disabled = true); // Disabilita pulsanti
                        }
                    } else { //da togliere?
                        console.log("Nessuna opzione disponibile");
                    }
                })
                .catch(error => {
                    console.error('Si è verificato un errore:', error);
                    alert('Si è verificato un errore: ' + error.message);
                });
        }

        function getOpzioni(opzioniIds) {
            const opzioniDiv = document.getElementById('opzioni');
            if (opzioniIds.length === 0) {
                opzioniDiv.innerHTML = '<p>Nessuna opzione disponibile.</p>';
                return; // Esce dalla funzione se non ci sono opzioni
            } 
            const opzioniPromises = opzioniIds.map(opzioneId => {
                console.log("PARTITA: " + partitaId + ", con SCENARIO: " + scenarioCorrenteId + ", con Opzione: " + opzioneId);
                return fetch(`/api/gioca/${partitaId}/${scenarioCorrenteId}/${opzioneId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Errore nel recupero dell\'opzione con ID: ' + opzioneId);
                        }
                        return response.json();
                    });
            });

            Promise.all(opzioniPromises)
                .then(opzioni => {
                    opzioni.forEach(opzione => {
                        const button = document.createElement('button');
                        console.log("Opzione: " + JSON.stringify(opzione));
                        button.innerText = opzione.descrizione;
                        console.log("Descrizione opzione: " + opzione.descrizione);
                        button.onclick = () => faiScelta(opzione);
                        opzioniDiv.appendChild(button);
                    });
                })
                .catch(error => {
                    console.error('Si è verificato un errore nel recupero delle opzioni:', error);
                    opzioniDiv.innerHTML = '<p>Si è verificato un errore nel recupero delle opzioni.</p>'; // Messaggio di errore
                });
        }

        function getInventario(inventario) {
            const inventarioDiv = document.getElementById('inventario');
            inventarioDiv.innerHTML = inventario.length ? '' : 'Inventario vuoto'; // Mostra messaggio se vuoto

            inventario.forEach(oggetto => {
                const item = document.createElement('p');
                item.innerText = oggetto;
                inventarioDiv.appendChild(item);
            });
        }

        // Funzione per aggiungere gli oggetti rilasciati all'inventario
        function releaseObjects(oggettiRilasciati) {
            const inventarioDiv = document.getElementById('inventario');
            if (!inventarioDiv.innerHTML.includes('Inventario vuoto')) {
                inventarioDiv.innerHTML = ''; // Pulisce il messaggio di inventario vuoto
            }

            oggetti.forEach(oggetto => {
                const item = document.createElement('p');
                item.innerText = oggetto;
                inventarioDiv.appendChild(item);
                alert(`Hai trovato un nuovo oggetto: ${oggetto}`);
            });
        }

        function faiScelta(opzione) {
            // Controlla il tipo di opzione
            if (opzione.richiedeIndovinello) {
                const domandaIndovinello = opzione.indovinello;
                const risposta = prompt(`Domanda: ${domandaIndovinello}\n`);
                console.log("Domanda dell'indovinello: " + domandaIndovinello);
                console.log("Risposta esatta: " + opzione.rispostaCorrettaIndovinello);
                console.log("Risposta data: " + risposta);
                if (risposta.trim().toLowerCase() === opzione.rispostaCorrettaIndovinello.trim().toLowerCase()) {
                    alert(`Risposta esatta!`);
                    eseguiScelta(opzione.id);
                } else {
                    alert(`Risposta errata!`);
                }
            } else if (opzione.richiedeOggetto) {
                const oggettoRichiesto = opzione.oggettoRichiesto;
                console.log("Partita: " + partitaId);
                console.log("Scenario corrente: " + scenarioCorrenteId);
                console.log("Oggetto richiesto: " + oggettoRichiesto);
                const urlInventario = `/api/gioca/${partitaId}/${scenarioCorrenteId}/controllaOggetto/${oggettoRichiesto}`;
                alert('Per continuare devi possedere l\'oggetto: ' + oggettoRichiesto);
                fetch(urlInventario)
                    .then(response => response.json())
                    .then(data => {
                        if (data.possiedeOggetto) {
                            alert('Possiedi l\'oggetto richiesto!')
                            eseguiScelta(opzione.id);
                        } else {
                            alert('Non possiedi l\'oggetto richiesto!');
                        }
                    });
            } else {
                eseguiScelta(opzione.id);
            }
        }

        function eseguiScelta(opzioneId) {
            console.log("ci arriva qui?")
            fetch(`/api/gioca/${partitaId}/${scenarioCorrenteId}/scelta/${opzioneId}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    console.log("carica scenario?");
                    caricaScenario();  // Ricarica lo scenario aggiornato
                } else {
                    alert('Errore nel processo della scelta');
                }
            });
        }

        function salvaEdEsci() {
            console.log("scenario corrente su salva: " + scenarioCorrenteId);
            fetch(`/api/gioca/${partitaId}/${scenarioCorrenteId}/salva`, {
                method: 'POST'
            }).then(() => window.location.href = 'visualizzaStoria');
        }

        caricaScenario();
    </script>

    <footer>
        <p>&copy; 2024 MyApp</p>
    </footer>
</body>
</html>