<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="home">
    <header>
        <h1 th:text="'Benvenuta/o, ' + ${nome} + ' ' + ${cognome} + '!'"></h1>    
    </header>
    
    <div class="container">
        <a href="/scriviStoria" class="box">
            <img src="/css/images/scrivi.png" alt="Scrivi Storia">
            <span>SCRIVI UNA STORIA</span>
        </a>
        <a href="/visualizzaStoria" class="box">
            <img src="/css/images/gioca.png" alt="Gioca Storia">
            <span>GIOCA UNA STORIA</span>
        </a>
        <a href="/profilo" class="box">
            <img src="/css/images/profilo.png" alt="Profilo">
            <span>PROFILO</span>
        </a>
        <a href="/leMieStorie" class="box">
            <img src="/css/images/storie.png" alt="Le mie storie">
            <span>LE MIE STORIE</span>
        </a>
        <a href="/leMiePartite" class="box">
            <img src="/css/images/partite.png" alt="Le mie partite">
            <span>LE MIE PARTITE</span>
        </a>
    </div>
    <footer>
        <p>&copy; 2024 MyApp</p>
    </footer>
</body>
</html>