<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header>
        <h1>Benvenuto, ${user.nome} ${user.cognome}!</h1>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="container">
        <a href="/scriviStoria" class="button">Scrivi Storia</a>
        <!--<a href="/visualizzaStoria" class="button">Visualizza Storia</a>-->
        <a href="/giocaStoria" class="button">Gioca Storia</a>
        <a href="/profilo" class="button">Il mio profilo</a>
    </div>
    <footer>
        <p>&copy; 2024 MyApp</p>
    </footer>
</body>
</html>