<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link rel="stylesheet" href="/css/registrationSuccess.css">
</head>
<body class="registrationSuccess">
    <header>
        <h1>Registrazione avvenuta con successo!</h1>
    </header>
    <div class="container">
        <p class="access-info">Grazie per esserti registrato/a, <span th:text="${nome} + ' ' + ${cognome}"></span>!
            <br>Clicca qui per accedere al tuo account.</p>
        <button type="button" class="button" onclick="window.location.href='/login'">Accedi</button>
    </div>
    <footer>
        <p>&copy; 2024 MyApp</p>
    </footer>
</body>
</html>