<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Registrati!</h1>
    </header>
    <div class="container">
        <form action="/user/register" method="post">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="text" name="cognome" placeholder="Cognome" required>
            <input type="email" name="mail" placeholder="Email" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Register">
        </form>
    </div>
    <div>
        <p class="registration-info">Hai già un account? 
            <a href="/login">Accedi</a>
        </p>
    </div>
    </div>
    <footer>
        <p>&copy; 2024 MyApp</p>
    </footer>
</body>
</html>