<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Scenario</title>
    <link rel="stylesheet" href="/css/scriviStoria.css">
</head>
<body class="scriviStoria">
    <header>
        <div class="header-content">
            <button class="back-button" onclick="confermaTornaIndietro()">
                <img src="/css/images/arrow.png" alt="Indietro">
                <span class="back-text">Torna Indietro</span>
            </button>
            <h1>Aggiungi Scenario</h1>
        </div>
    </header>

    <main>
        <div class="form-container">
            <!-- Form per l'invio dei dati -->
            <form id="scenario-form" method="POST" > <!-- ho tolto action -->
                <div>
                    <label for="nome-scenario">Nome Scenario:</label>
                    <input type="text" id="nome-scenario" name="nomeScenario" required>
                </div>
                <div>
                    <label for="descrizione-scenario">Descrizione Scenario:</label>
                    <textarea id="descrizione-scenario" name="descrizioneScenario" required></textarea>
                </div>
                <div>
                    <button type="button" onclick="window.location.href='scriviOpzione'">Aggiungi Opzione</button>
                </div>
                <button type="submit" id="save-scenario-button">Salva Scenario</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 MyApp</p>
    </footer>

    <script>
        function confermaTornaIndietro() {
            const conferma = confirm("Sei sicuro di tornare indietro? Assicurati di aver salvato lo scenario!");
            if (conferma) {
                window.location.href = 'scriviStoria'; // Reindirizza alla pagina di scriviStoria
            }
        }
    </script>
</body>
</html>